src/main/mule/Addition.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<flow name="AdditionFlow" doc:id="49d2e79d-f455-41c1-ba6a-0509a4f3f77c" >
	<ee:transform doc:name="Transform Message" doc:id="124e7c88-8ec3-460b-a7ea-ef5583eff9de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Add: {
		ns0#intA: payload,
		ns0#intB: payload
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Add" doc:name="Consume" doc:id="090287b6-2e9a-41b8-b878-c29c0de90b69" config-ref="Web_Service_Consumer_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="b5aa047d-055c-45b3-b498-29fca9349043" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
ns ns0 http://tempuri.org/
---
{
	"Addition ": payload.body.ns0#AddResponse as Number default 0
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="404f2c54-2b69-462d-a91e-2d93fca1299c" message="#[payload]"/>
		<logger level="INFO" doc:name="Logger" doc:id="0b6d2008-110a-438c-afae-d82ba86c7960" message="Addition is done"/>
	
	
	</flow>
</mule>
